body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Lucida Console', 'Courier New', monospace; 
    background-color: #081e41;
    color: #A9CEF4;
}

.calculator {
    height: 700px;
    width: 500px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    background-color: #1a6dc1;
    border-radius: 30px;
    gap: 30px;
}

.top {
    display: flex;
    flex-grow: 0;
    gap: 15px;
}
.top .display {
    background-color: #00529e;
    height: 125px;
    width: 73%;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: end;
    font-size: 60px;
    overflow: hidden;
}
.top .display span {
    margin: 20px;
}
.top [data-symbol="delete"] {
    width: 25%;
    font-size: 30px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    transition: .2s;
    background-color: #2c7ed1;
    border-radius: 0 30px 30px 0;
    color: white;
}
.top [data-symbol="delete"]:hover {
    filter: brightness(120%);
}

.buttons {
    height: 525px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}
.buttons .row {
    flex: 1;
    display: flex;
    gap: 15px;
} 
.buttons .row div {
    width: 75px;
    font-size: 35px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    transition: .2s;
    background-color: #2c7ed1;
    border-radius: 75px;
}
.buttons .row div:hover {
    filter: brightness(120%);
}
.buttons .row [data-symbol]:not([data-symbol="."]) {
    color: white;
}